<!DOCTYPE html>
<html>
{{template "head"}}
<body>

{{template "topmenu"}}

<div class="table-responsive-sm col-md-6 text-center">
<h3>Customers</h3>
<table class="table table-hover table-sm">
  <tbody class="thead-dark">
 
    <tr>
      <th scope="col">Total Customers:</th>
      <th scope="col"><a href="/admin/customers">{{.CustCount}}</a></th>
    </tr>
    <tr>
      <th scope="col">Customers added (last 24 hours)</th>
      <th scope="col"><a href="#">0</a></th>
    </tr>
  
  </tbody>
</table>
</div>

<div class="table-responsive-sm col-md-6 text-center">
<h3>Devices</h3>
<table class="table table-hover table-sm">
  <tbody class="thead-dark">
 
    <tr>
      <th scope="col">Total Devices:</th>
      <th scope="col"><a href="/admin/devices">{{.DevCount}}</a></th>
    </tr>
    <tr>
      <th scope="col">Devices added (last 24 hours)</th>
      <th scope="col"><a href="#">0</a></th>
    </tr>
  
  </tbody>
</table>
</div>

<div class="table-responsive-sm col-md-6">
<p><a href="/admin/devicedatahistorical">Show Historical Data</a></p>
<script type="text/javascript">
       setInterval(refreshIframe1, 20000);
       function refreshIframe1() {
           $("#devicedataframe")[0].src = $("#devicedataframe")[0].src;
       }
   </script>
   <iframe src="/admin/showanomaly" marginwidth="0" marginheight="0" width="800" height="400" scrolling="yes" frameborder=0 name="devicedataframe" id="devicedataframe"></iframe>
</div>

</body>
</html>