<!DOCTYPE html>
<html>
<head>    
<title>Globomantics Admin Portal</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="/admin/js/jquery.min.js"></script>
  <script src="/admin/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 <link href="/admin/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="/admin/css/style-home.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="/admin/images/G.png" />


</head>
<body>

{{template "topmenu"}}

<div class="table-responsive-sm col-md-6 text-center">
<h3>Customers</h3>
<table class="table table-hover table-sm">
  <tbody class="thead-dark">
 
    <tr>
      <th scope="col">Total Customers:</th>
      <th scope="col"><a href="#">0</a></th>
    </tr>
    <tr>
      <th scope="col">Customers added (last 24 hours)</th>
      <th scope="col"><a href="#">0</a></th>
    </tr>
  
  </tbody>
</table>
</div>

<div class="table-responsive-sm col-md-6 text-center">
<h3>Devices</h3>
<table class="table table-hover table-sm">
  <tbody class="thead-dark">
 
    <tr>
      <th scope="col">Total Devices:</th>
      <th scope="col"><a href="#">0</a></th>
    </tr>
    <tr>
      <th scope="col">Devices added (last 24 hours)</th>
      <th scope="col"><a href="#">0</a></th>
    </tr>
  
  </tbody>
</table>
</div>

</body>
</html>