<!DOCTYPE html>
<html>
{{template "head"}}
<body>

{{template "topmenu"}}
  
 <div class="table-responsive-sm col-md-8">
<h3>Devices</h3>
<table class="table table-hover table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Device Name</th>
      <th scope="col">Device Type</th>
      <th scope="col">Device State</th>
      <th scope="col">Creation Date</th>
      <th scope="col">Details</th>

    </tr>
  </thead>
  <tbody>
  
  {{range .}}
    <tr>
      <th scope="row">{{.DeviceName}}</th>
      <td>{{.DeviceType}}</td>
      <td>{{.DeviceStatus}}

      </td>


      <td>{{.DeviceCreationDate}}</td>
     <td><a href="/admin/devices/{{.DeviceID}}">Device details</a></td>
    </tr>
  {{end}} 
   
  </tbody>
</table>
</div>
 
</body>
</html>